extends layout

block content
	h1= title
	p hello world!
	p Welcome to #{title}

	div.standings_table
		iframe(src="https://docs.google.com/spreadsheets/d/1B-xg41uX5CXyRosv7al9x0qM5tv2Zu_B8Vp4cVLiRaI/pubhtml?gid=1105353934&amp;single=true&amp;widget=true&amp;headers=false")